.todolist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 600px;
  min-height: 350px;

  background-color: white;
  box-shadow: 2px 2px 2px 2px #D3D0D0FF;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activePanel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;
}

.totalActiveTask {
min-width: 100px;
}