.todolist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 600px;
  height: 430px;

  background-color: var(--white-white-1);
  box-shadow: var(--shadow-elevation-medium);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activePanel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

}

.totalActiveTask {
  min-width: 100px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);

}

.hasItems {
  color: var(--secondary-red);
}

.noItems {
  color: var(--secondary-green);
}

.btnDeleteCompleted {
  color: var(--secondary-green);

  &:disabled {
    cursor: default;
    color: var(--secondary-red);
    outline: none;

    &:active {
      background-color: var(--white-white-1);
    }
  }
}
