.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 5px 10px;

  border-radius: 8px;

  &:hover {
    outline: 1px solid var(--white-white-3);
  }

  &:active {
    background-color: var(--white-white-2);
  }
}

.active {
  outline: 1px solid var(--secondary-light-red);
}