.addItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 10px;

  border-bottom: 1px solid var(--white-white-3);

  input {
    width: 100%;
    height: 100%;
    padding: 10px;

    border: none;
    outline: none;
  }
}