
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 10px 20px 10px 10px;

  border-bottom: 1px solid var(--white-white-3);

  .icon {
    display: none;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    & svg {
      width: 20px;
      height: 20px;
      opacity: 0.8;
    }

    &.edit-icon svg * {
      stroke: var(--secondary-green);
    }

    &.delete-icon svg * {
      stroke: var(--secondary-red);
    }
  }

  &:hover {
    background-color: var(--white-white-2);

    .icon {
      display: flex;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.button {
  &:active {
    background-color: var(--white-white-1);
  }
}
