.deleteButton {
  display: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 10px;

  border-bottom: 1px solid #D3D0D0FF;

  &:hover {
    .deleteButton {
      display: block;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

