:root {
  --secondary-red: #f35757;
  --secondary-light-red: #edcbcb;
  --secondary-green: #167630;
  --secondary-gray: #272a2e;
  --secondary-light-gray: #49525f;
  --black-black-1: #171717;
  --black-black-2: #17191c;
  --black-black-3: #828282;
  --white-white-1: #fff;
  --white-white-2: #f8f8f8;
  --white-white-3: #bdbdbd;
  --dark-bg-dark-bg-1: #0f1011;
  --dark-bg-dark-bg-2: #171a1e;
  --dark-bg-dark-bg-3: #292d32;
  --bg-orange: #f4f1ed;
  --shadow-color: 0deg 0% 62%;
  --shadow-elevation-low: 0.8px 0.3px 1.3px hsl(var(--shadow-color) / 0%),
  2.6px 1.1px 4.2px hsl(var(--shadow-color) / 38%);
  --shadow-elevation-medium: 0.8px 0.3px 1.3px hsl(var(--shadow-color) / 0%),
  4.7px 2px 7.7px hsl(var(--shadow-color) / 23%),
  13.2px 5.7px 21.6px hsl(var(--shadow-color) / 47%);
}
