@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap';

:root {
  --font-family: 'Raleway', sans-serif;

  // line heights
  --line-height-m: 18px;

  // font weights
  --font-weight-thin:100;
  --font-weight-normal:300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  // font sizes
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 100px;

  // media
  --media-width-sm: 576px;
  --media-width-md: 768px;
  --media-width-lg: 992px;
  --media-width-xl: 1200px;
  --media-width-xll: 1435px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed;
  letter-spacing: 0.1px;
}
