#root {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.logo {
    margin-bottom: 30px;
    padding-top: 50px;

    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-thin);
    color: var(--secondary-light-red);
    text-align: center;
}